

body {
    background-color: rgb(235, 235, 235);
}
.Resume{
    display: flex;
    text-align: center;
    background-color: rgb(235, 235, 235);
    
}
header{
    background-color: rgb(38, 101, 238);
}

.copyright img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 45px 
}
.copyright{
    display: flex;
    justify-content: space-around;
}
footer{
    padding: 30px;
    background-color: rgb(240, 11, 11);
    
}
/* gallery */

.card-text p{
    display: flex;
    justify-content: center;
}

.maps {
    height: 30rem;
    width: 100%;
}

/* contact*/
.nav-link{
    color: rgb(0, 0, 0);
}

.box{
    overflow-x: hidden;
}

.maingal {
    padding: 2rem;
}

@media only screen and (min-width: 1200px) {
    .card img {
        width: 15rem;
    }
}